---
const {
    globalPrefix = '',
    globalSuffix = '',
    playerPrefix = '',
    playerSuffix = '',
    exampleHolder = 'money',
    examplePosition = '1'
} = Astro.props;
---

<h3><code>top_name</code></h3>
<ul>
  <li><strong>Format</strong>:
    <ul>
      <li><code>{globalPrefix}&lt;holder&gt;;top_name;&lt;position&gt;{globalSuffix}</code></li>
    </ul>
  </li>
  <li><strong>Description:</strong> The name of the player at the specified position.</li>
  <li><strong>Argument:</strong>
    <ul>
      <li><code>&lt;holder&gt;</code>: The name of the Holder</li>
      <li><code>&lt;position&gt;</code>: The position of the player in the Holder</li>
    </ul>
  </li>
  <li><strong>Example:</strong>
    <ul>
      <li><code>{globalPrefix}{exampleHolder};top_name;{examplePosition}{globalSuffix}</code>
        <ul>
          <li>Retrieve the name of the player at position {examplePosition} in the Holder named <code>{exampleHolder}</code></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<h3><code>top_key</code></h3>
<ul>
  <li><strong>Format</strong>:
    <ul>
      <li><code>{globalPrefix}&lt;holder&gt;;top_key;&lt;position&gt;{globalSuffix}</code></li>
    </ul>
  </li>
  <li><strong>Description:</strong> The UUID of the player at the specified position.</li>
  <li><strong>Argument:</strong>
    <ul>
      <li><code>&lt;holder&gt;</code>: The name of the Holder</li>
      <li><code>&lt;position&gt;</code>: The position of the player in the Holder</li>
    </ul>
  </li>
  <li><strong>Example:</strong>
    <ul>
      <li><code>{globalPrefix}{exampleHolder};top_key;{examplePosition}{globalSuffix}</code>
        <ul>
          <li>Retrieve the UUID of the player at position {examplePosition} in the Holder named <code>{exampleHolder}</code></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<h3><code>top_value</code></h3>
<ul>
  <li><strong>Format</strong>:
    <ul>
      <li><code>{globalPrefix}&lt;holder&gt;;top_value;&lt;position&gt;{globalSuffix}</code></li>
      <li><code>{globalPrefix}&lt;holder&gt;;top_value;&lt;position&gt;;&lt;format&gt;{globalSuffix}</code></li>
    </ul>
  </li>
  <li><strong>Description:</strong> The value of the player at the specified position.</li>
  <li><strong>Argument:</strong>
    <ul>
      <li><code>&lt;holder&gt;</code>: The name of the Holder</li>
      <li><code>&lt;position&gt;</code>: The position of the player in the Holder</li>
      <li><code>&lt;format&gt;</code>: A number format pattern, see <a href="/topper/extra/value_display/">Value Display</a> for more details on how to apply a format</li>
    </ul>
  </li>
  <li><strong>Example:</strong>
    <ul>
      <li><code>{globalPrefix}{exampleHolder};top_value;{examplePosition}{globalSuffix}</code>
        <ul>
          <li>Retrieve the value of the player at position {examplePosition} in the Holder named <code>{exampleHolder}</code></li>
        </ul>
      </li>
      <li><code>{globalPrefix}{exampleHolder};top_value;{examplePosition};#,###{globalSuffix}</code>
        <ul>
          <li>Retrieve the formatted value of the player at position {examplePosition} in the Holder named <code>{exampleHolder}</code>, in the format of <code>#,###</code></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<h3><code>top_value_raw</code></h3>
<ul>
  <li><strong>Format</strong>:
    <ul>
      <li><code>{globalPrefix}&lt;holder&gt;;top_value_raw;&lt;position&gt;{globalSuffix}</code></li>
    </ul>
  </li>
  <li><strong>Description:</strong> The raw value of the player at the specified position.</li>
  <li><strong>Argument:</strong>
    <ul>
      <li><code>&lt;holder&gt;</code>: The name of the Holder</li>
      <li><code>&lt;position&gt;</code>: The position of the player in the Holder</li>
    </ul>
  </li>
  <li><strong>Example:</strong>
    <ul>
      <li><code>{globalPrefix}{exampleHolder};top_value_raw;{examplePosition}{globalSuffix}</code>
        <ul>
          <li>Retrieve the raw value of the player at position {examplePosition} in the Holder named <code>{exampleHolder}</code></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<h3><code>top_rank</code></h3>
<ul>
  <li><strong>Format</strong>:
    <ul>
      <li><code>{globalPrefix}&lt;holder&gt;;top_rank{globalSuffix}</code></li>
      <li><code>{globalPrefix}&lt;holder&gt;;top_rank;&lt;format&gt;{globalSuffix}</code></li>
    </ul>
  </li>
  <li><strong>Description:</strong> The player's rank (position number) in the specified Holder.</li>
  <li><strong>Argument:</strong>
    <ul>
      <li><code>&lt;holder&gt;</code>: The name of the Holder</li>
      <li><code>&lt;format&gt;</code>: A number format pattern, see <a href="/topper/extra/value_display/">Value Display</a> for more details on how to apply a format</li>
    </ul>
  </li>
  <li><strong>Example:</strong>
    <ul>
      <li><code>{globalPrefix}{exampleHolder};top_rank{globalSuffix}</code>
        <ul>
          <li>Retrieve the rank of the player in the Holder named <code>{exampleHolder}</code></li>
        </ul>
      </li>
      <li><code>{globalPrefix}{exampleHolder};top_rank;#,###{globalSuffix}</code>
        <ul>
          <li>Retrieve the formatted rank of the player in the Holder named <code>{exampleHolder}</code></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<h3><code>top_size</code></h3>
<ul>
  <li><strong>Format</strong>:
    <ul>
      <li><code>{globalPrefix}&lt;holder&gt;;top_size{globalSuffix}</code></li>
    </ul>
  </li>
  <li><strong>Description:</strong> The amount of entries in the Holder.</li>
  <li><strong>Argument:</strong>
    <ul>
      <li><code>&lt;holder&gt;</code>: The name of the Holder</li>
    </ul>
  </li>
  <li><strong>Example:</strong>
    <ul>
      <li><code>{globalPrefix}{exampleHolder};top_size{globalSuffix}</code>
        <ul>
          <li>Retrieve the amount of entries in the Holder named <code>{exampleHolder}</code></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<h3><code>value</code></h3>
<ul>
  <li><strong>Format</strong>:
    <ul>
      <li><code>{playerPrefix}&lt;holder&gt;;value{playerSuffix}</code></li>
      <li><code>{playerPrefix}&lt;holder&gt;;value;&lt;format&gt;{playerSuffix}</code></li>
    </ul>
  </li>
  <li><strong>Description:</strong> The value of the player.</li>
  <li><strong>Argument:</strong>
    <ul>
      <li><code>&lt;holder&gt;</code>: The name of the Holder</li>
      <li><code>&lt;format&gt;</code>: A number format pattern, see <a href="/topper/extra/value_display/">Value Display</a> for more details on how to apply a format</li>
    </ul>
  </li>
  <li><strong>Example:</strong>
    <ul>
      <li><code>{playerPrefix}{exampleHolder};value{playerSuffix}</code>
        <ul>
          <li>Retrieve the value of the player in the Holder named <code>{exampleHolder}</code></li>
        </ul>
      </li>
      <li><code>{playerPrefix}{exampleHolder};value;#,###{playerSuffix}</code>
        <ul>
          <li>Retrieve the formatted value of the player in the Holder named <code>{exampleHolder}</code></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<h3><code>value_raw</code></h3>
<ul>
  <li><strong>Format</strong>:
    <ul>
      <li><code>{playerPrefix}&lt;holder&gt;;value_raw{playerSuffix}</code></li>
    </ul>
  </li>
  <li><strong>Description:</strong> The raw value of the player.</li>
  <li><strong>Argument:</strong>
    <ul>
      <li><code>&lt;holder&gt;</code>: The name of the Holder</li>
    </ul>
  </li>
  <li><strong>Example:</strong>
    <ul>
      <li><code>{playerPrefix}{exampleHolder};value_raw{playerSuffix}</code>
        <ul>
          <li>Retrieve the raw value of the player in the Holder named <code>{exampleHolder}</code></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
